@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

@font-face {
	font-family: 'Helvetica';
	src: url('./fonts/Helvetica.ttf') format('truetype');
	font-style: normal;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Helvetica ,Arial, sans-serif;
	height: 100vh;
	width: 100vw;
}

.card {
	perspective: 800px;
}

.card__content {
	transform-style: preserve-3d;
}

.flip {
	transform: rotateX(0.5turn);
}

.card__front,
.card__back {
	backface-visibility: hidden;
}

.card__back {
	transform: rotateX(0.5turn);
}

.justify-safe-center {
	justify-content: safe center;
}

.red {
	background-color: #fee2e2;
	border-color: #fecaca;
}

.blue {
	background-color: #dbeafe;
	border-color: #bfdbfe;
}

.green {
	background-color: #dcfce7;
	border-color: #bbf7d0;
}

.yellow {
	background-color: #fef9c3;
	border-color: #fef08a;
}

.orange {
	background-color: #ffedd5;
	border-color: #fed7aa;
}

.gray {
	background-color: #f3f4f6;
	border-color: #e5e7eb;
}

